
  .share{
    text-align: center;
    padding: 0px 300px 15px 300px;
    
  }
  .share .row {
    margin: 0 auto;
  }



  .container1  {
   
    position: relative;
    top: 75px;
    left: 0;
    height: 60%;
    width: 100%;
  }
  
  .container1 .row {
    margin: 0 auto;
  }

  .card{
    margin:10px;
    border-radius: 10px;
    background: #fafafafd;
    box-shadow:  17px 17px 34px #8194ff57,
                 -17px -17px 34px #8194ff57;
  }

 .image{
     width: 150px;
     height: 150px;
 }

 .image-main{

    width: 450px;
  
 }

 .p{
     color:white;
     text-align:left;
 }

 .arrow-left{
     width: 65px;
 }
 .arrow-right{
    width: 65px;
}