<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1883&q=80');
  height: 703px;" >


    <div class="container">
     
   

        <div class="share">
            <form class="d-flex">
               <input class="form-control sm" type="search" placeholder="Search Cars" aria-label="Search">
               <button type="button" class="btn btn-light">Search</button>
             </form>
       </div>
       <div>
           <br>
       </div>
       <div class="container1">
               <div class="row">
               <div class="col-md-2">
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Vehicle Brand</h5>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li ><a href="#" class="card-link">Audi</a></li>
                     <li ><a href="#" class="card-link">Toyota</a></li>
                     <li ><a href="#" class="card-link">Honda</a></li>
                   </ul>
                 </div>
               

               <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Ratings</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li >*****</li>
                  <li >****</li>
                  <li >***</li>
                </ul>
              </div>
            </div>
   
        <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/illustration-of-generic-compact-white-car-front-side-view-picture-id1150931120?b=1&k=20&m=1150931120&s=170667a&w=0&h=C-OnyvXAREU3rAUNyhooY8rLfWD3Oy6p3X4RzRO13Sc=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Toyota Aqua</h5>
              <p class="card-text">Modal: </p>
              <p class="card-text">Year: </p>
              <p class="card-text">Seats: </p>
              <p class="card-text">Fuel Type: </p>
              <p class="card-text">Ratings: </p>
              <a routerLink="/view" class="btn btn-primary">Book Now</a>
            </div>
          
        </div>
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/generic-white-car-isolated-on-white-background-picture-id1186972461?b=1&k=20&m=1186972461&s=170667a&w=0&h=rDCDVPjC73cZyYLEu87qBRAvDUmJ6tVv5BvLG2Y9ycU=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Toyota Premio</h5>
              <p class="card-text">Modal: </p>
              <p class="card-text">Year: </p>
              <p class="card-text">Seats: </p>
              <p class="card-text">Fuel Type: </p>
              <p class="card-text">Ratings: </p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/illustration-of-generic-compact-white-car-front-side-view-picture-id1150931120?b=1&k=20&m=1150931120&s=170667a&w=0&h=C-OnyvXAREU3rAUNyhooY8rLfWD3Oy6p3X4RzRO13Sc=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Honda Civic</h5>
              <p class="card-text">Modal: </p>
              <p class="card-text">Year: </p>
              <p class="card-text">Seats: </p>
              <p class="card-text">Fuel Type: </p>
              <p class="card-text">Ratings: </p>
              <a routerLink="/view" class="btn btn-primary">Book Now</a>
            </div>
          </div>
      </div>
    
  </div>
</div>
</div>


